## Data Cleaning and Engineering: Part 1

* The above two concepts are tied together as cleaning data also implies doing some sort of engineering on data

In [19]:
import seaborn as sns
# also, if seaborn is not installed, Google how to install, or ask me

df = sns.load_dataset('iris')
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [20]:
# print data to a csv file
df.to_csv('iris.csv', encoding='utf-8', index=False)

In [21]:
import pandas as pd
df = pd.read_csv('iris.csv')

In [22]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [23]:
df_sepal = df[['sepal_length','sepal_width']].copy()
df_sepal.describe()

       sepal_length  sepal_width
count    150.000000   150.000000
mean       5.843333     3.057333
std        0.828066     0.435866
min        4.300000     2.000000
25%        5.100000     2.800000
50%        5.800000     3.000000
75%        6.400000     3.300000
max        7.900000     4.400000

In [24]:
df_sepal.loc[(df_sepal.sepal_length <= 5.843333), 'sepal_width'] = 0
df_sepal.loc[(df_sepal.sepal_length > 5.843333), 'sepal_width'] = 1
print(df_sepal)

     sepal_length  sepal_width
0             5.1          1.0
1             4.9          0.0
2             4.7          0.0
3             4.6          0.0
4             5.0          0.0
..            ...          ...
145           6.7          1.0
146           6.3          1.0
147           6.5          1.0
148           6.2          1.0
149           5.9          1.0

[150 rows x 2 columns]

In [14]:
## Now do the same for petal_width

In [16]:
df_species = df['species']
categories = set(df_species.values)
print(categories)

{'virginica', 'setosa', 'versicolor'}

In [18]:
# change categories to numbers

df.species = pd.Categorical(df.species)
df['species'] = df.species.cat.codes
print(df)

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2        0
1             4.9          3.0           1.4          0.2        0
2             4.7          3.2           1.3          0.2        0
3             4.6          3.1           1.5          0.2        0
4             5.0          3.6           1.4          0.2        0
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3        2
146           6.3          2.5           5.0          1.9        2
147           6.5          3.0           5.2          2.0        2
148           6.2          3.4           5.4          2.3        2
149           5.9          3.0           5.1          1.8        2

[150 rows x 5 columns]