## Data Cleaning and Engineering: Part 1

* The above two concepts are tied together as cleaning data also implies doing some sort of engineering on data

In [1]:
import seaborn as sns
# also, if seaborn is not installed, Google how to install, or ask me

df = sns.load_dataset('iris')
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [2]:
# print data to a csv file
df.to_csv('iris.csv', encoding='utf-8', index=False)

In [3]:
import pandas as pd
df = pd.read_csv('iris.csv')

In [4]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
df_sepal = df[['sepal_length','sepal_width']]
df_sepal.describe()

       sepal_length  sepal_width
count    150.000000   150.000000
mean       5.843333     3.057333
std        0.828066     0.435866
min        4.300000     2.000000
25%        5.100000     2.800000
50%        5.800000     3.000000
75%        6.400000     3.300000
max        7.900000     4.400000

In [6]:
df_sepal.loc[(df_sepal.sepal_length <= 5.843333), 'sepal_length'] = 0
df_sepal.loc[(df_sepal.sepal_length > 5.843333), 'sepal_length'] = 1
print(df_sepal)

     sepal_length  sepal_width
0             0.0          3.5
1             0.0          3.0
2             0.0          3.2
3             0.0          3.1
4             0.0          3.6
..            ...          ...
145           1.0          3.0
146           1.0          2.5
147           1.0          3.0
148           1.0          3.4
149           1.0          3.0

[150 rows x 2 columns]

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
<ipython-input-6-5544d34a159a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sepal.loc[(df_sepal.sepal_length <= 5.843333), 'sepal_length'] = 0
<ipython-input-6-5544d34a159a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sepal.loc[(df_sepal.sepal_length > 5.843333), 'sepal_length'] = 1

In [7]:
## Now do the same for petal_width

In [10]:
df_species = df['species']
categories = set(df_species.values)
print(categories)

{'versicolor', 'virginica', 'setosa'}

In [11]:
# change categories to numbers

df.species = pd.Categorical(df.species)
df['species'] = df.species.cat.codes