In [ ]:
from pandasql import sqldf, load_meat, load_births

In [ ]:
meat = load_meat()
births = load_births()
pysqldf = lambda q: sqldf(q, globals())

In [ ]:
print(type(meat))
print(type(births))
print(pysqldf)

In [ ]:
meat.head()

In [ ]:
births.head()

In [ ]:
print(pysqldf("SELECT * FROM meat LIMIT 3;"))

## SELECT

* Use SELECT to specify Columns.
    e.g. SELECT beef
* USE SELECT * to select all columns
    e.g. SELECT *
    
Note: "SELECT *" is an incomplete query. You must also specify the table using FROM.

## FROM

We use the FROM statement to specify a table. 

Here we have two tables called "meat" and "births." You can try SELECT * on any of them.

In [ ]:
# example

print(pysqldf("SELECT date FROM meat;"))

In [ ]:
print(pysqldf("SELECT beef FROM meat;"))

In [ ]:
print(pysqldf("SELECT veal FROM meat;"))

In [ ]:
print(pysqldf("SELECT * FROM meat;"))

## LIMIT

Use limit to get the top n number of items from the query. You can use limit when you want a different number of items from the default.

In [ ]:
print(pysqldf("SELECT * FROM meat LIMIT 3;"))

In [ ]:
print(pysqldf("SELECT * FROM meat LIMIT 70;"))

In [ ]:
print(pysqldf("SELECT * FROM meat WHERE beef<700;"))

In [ ]:
print(pysqldf("SELECT * FROM meat WHERE beef<700 LIMIT 10;"))

In [ ]:
print(pysqldf("SELECT * FROM meat WHERE veal < 100;"))

In [ ]:
## SELECT multiple columns

print(pysqldf("SELECT date, beef FROM meat WHERE veal < 100;"))

In [ ]:
# Create new column
print(pysqldf("SELECT date, beef, veal, ((beef + veal) / 2) \
                AS beef_veal_avg \
                FROM meat \
                WHERE veal < 100;"))

# Logical operations


* LIKE
* IN
* BETWEEN
* IS NULL
* AND
* OR
* NOT

In [ ]:
# LIKE; Find similar values, not necessarilyb exact

print(pysqldf("SELECT date, beef FROM meat WHERE date LIKE '1951%';"))

In [ ]:
# IN; queries matches values specified in IN.

print(pysqldf("SELECT date, beef FROM meat WHERE beef IN (842, 591);"))

In [ ]:
# BETWEEN; Query returns items that fall between a range.

print(pysqldf("SELECT date, beef FROM meat WHERE beef BETWEEN 591 AND 842;"))

In [ ]:
"""
IS NULL; will return entries that have NULL values specified by WHERE.
IS NOT NULL;
"""
print(pysqldf("SELECT * FROM meat WHERE broilers IS NOT NULL"))

In [ ]:
print(pysqldf("SELECT * FROM meat WHERE lamb_and_mutton IS NOT NULL"))

In [ ]:
# AND; allows you to select rows that statisfy two conditions.

print(pysqldf("SELECT * \
                  FROM meat \
                  WHERE lamb_and_mutton IS NOT NULL AND pork > 100"))

In [ ]:
# OR; Allows you to choose rows that satisfy one of the two conditions specified by WHERE.

print(pysqldf("SELECT * \
                  FROM meat \
                  WHERE lamb_and_mutton IS NOT NULL OR pork > 100"))

In [ ]:
# Don't forget LIMIT. LIMIT still works.


print(pysqldf("SELECT * \
                  FROM meat \
                  WHERE lamb_and_mutton IS NOT NULL OR pork > 100 \
                  LIMIT 30;"))

In [ ]:
# ORDER BY; Order the rows by the specified column.

print(pysqldf("SELECT * \
                  FROM meat \
                  WHERE lamb_and_mutton IS NOT NULL OR pork > 100 \
                  ORDER BY pork \
                  LIMIT 30;"))

In [ ]:
# ORDER BY; Order the rows by the specified column. This time in descending order.

print(pysqldf("SELECT * \
                  FROM meat \
                  WHERE lamb_and_mutton IS NOT NULL OR pork > 100 \
                  ORDER BY pork DESC\
                  LIMIT 30;"))

In [ ]:
# GROUP BY; G

print(pysqldf("SELECT * \
                  FROM meat \
                  WHERE lamb_and_mutton IS NOT NULL OR pork > 100 \
                  GROUP BY beef \
                  LIMIT 30;"))

In [ ]:

print(pysqldf("SELECT *, \
                  CASE WHEN beef > 600 THEN 'expensive' \
                  ELSE 'cheap' END AS price_category \
                  FROM meat \
                  WHERE lamb_and_mutton IS NOT NULL OR pork > 100;"))

In [ ]:
print(pysqldf("SELECT *, \
                  CASE WHEN beef > 600 OR pork > 800 THEN 'expensive' \
                  ELSE 'cheap' END AS price_category \
                  FROM meat \
                  WHERE lamb_and_mutton IS NOT NULL OR pork > 100;"))

In [ ]:
print(pysqldf("SELECT *, \
                  CASE WHEN beef > 600 OR pork > 800 THEN 'expensive' \
                  ELSE 'cheap' END AS price_category \
                  FROM meat \
                  GROUP BY price_category"))